.DS_STORE
.haxelib/
.vs/
APIStuff.hx
dump/
export/
RECOVER_*.fla
shitAudio/
.build_time
.swp

# Very specific
/source/funkin/data/api/
helplist.md

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*
